.favorites {
    box-sizing: border-box;
    border: 1px solid rgba(0, 8, 7);
    padding: 30px 20px;
}

.favorites__name {
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid rgba(0, 8, 7, .5);
    margin-bottom: 24px;
}

.favorites__list {
    margin-bottom: 24px;
}

.favorites__save {
    border: none;
    background-color: #496DDB;
    padding: 10px 15px;
    color: #FFEEDB;
    font-size: 14px;
    transition: all 0.2s linear;
}

.favorites__save_dis{
    border: none;
    background-color: #496DDB;
    padding: 10px 15px;
    color: #FFEEDB;
    font-size: 14px;
    transition: all 0.2s linear;
    cursor: not-allowed;
}

.favorites__save:hover {
    cursor: pointer;
    opacity: 0.9;
    transition: all 0.2s linear;
}

.fav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.deletefav{
    width: 25px;
    background-color: #496DDB;
    border: 1px solid white;
    color: white;
}

.deletefav:hover{
    background-color: #8197da;
}

@media (max-width: 705px){
    .favorites{
        margin: auto;
    }

    .main-page__favorites{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .favorites__save{
        margin-top: 10px;
        padding: 10px;
    }
}

.link {
    display: none;
}

@media (max-width: 470px) {
    .favorites{
        width: 100vw;
        min-width: 192px;
    }

    .favorites__save{
        margin-top: 20px;
        padding: 7px;
    }
}